@model ClinicManagementProject.Models.Admin


@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>


    <section class="alert alert-danger">
        @ViewData["Message"]
        @ViewData["Successful"]
    </section>

    <table class="table table-borderless">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td><p>hello</p><p>hello</p><p>Empty for now</p></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td>Empty for now</td>
                <td><p>hello</p><p>hello</p><p>Empty for now</p></td>
            </tr>
        </tbody>
    </table>
    <section>
        @*@Html.ActionLink("Book Appointment", "BookAppointment", new { str = Model.Username })*@




    </section>
</body>

</html> 