@model IEnumerable<ClinicManagementProject.Models.Patient>

@{
    ViewData["Title"] = "Admin Manage Patient";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>





    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Consultation Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>@Html.ActionLink("Search a Patient", "PatSearchAll")</p>
                </td>

                <td>
                    <p>@Html.ActionLink("Patient Payment", "PatPayment")</p>
                </td>
            </tr>

        </tbody>
    </table>
    <section>
        @*@Html.ActionLink("Book Appointment", "BookAppointment", new { str = Model.Username })*@

        <p>@Html.ActionLink("Register New Patient", "PatRegNew")</p>



    </section>
</body>

</html> 